/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|BorderContainer
{
	backgroundImage:Embed(source="/assets/Transparent2-Background-of-Alaskan-Mountains-(Cropped).jpg");
}

.blueBackgroundColor
{
	background-color:#26619c;
}

#tiSearch
{
	borderColor:#E3E3E3;
}

.bBackStyle, .bSearchStyle
{
	chromeColor:#FFFFFF; 
	focusColor:#BDBDBD;
	fontSize:16;
	cornerRadius:0;
	fontFamily:Verdana;
	font-weight: bold;
}

.bSearchStyle
{
	icon:Embed(source="/assets/magnifier-tool.png");
/*	background:#FFFFFF;*/
}